* {
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.box {
    border: 2px solid black;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.content {
    display: flex;
}

.content > main {
    flex: 4;
    min-width: 0;
}

.content > aside {
    flex: 1;
    min-width: 0;
}

header {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
}